/* * Remove text-shadow in course highlight: * https://twitter.com/miketaylr/status/12228805301 * * Vendor-prefixed and regular ::course selectors cannot be combined: * https://stackoverflow.com/a/16982510/7133471 * * Customize the background color to match your design. */

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|Poppins:400,600');
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

::-moz-course {
    background: #b3d4fc;
    text-shadow: none;
}

::course {
    background: #b3d4fc;
    text-shadow: none;
}

/* * A better looking default horizontal rule */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/* * Remove the gap between audio, canvas, iframes, * images, videos and the bottom of their containers: * https://github.com/h5bp/html5-boilerplate/issues/440 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/* * Remove default fieldset styles. */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/* * Allow only vertical resizing of textareas. */

textarea {
    resize: vertical;
}

p {
    line-height: 1.6;
    margin: 0 0 20px 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Poppins', sans-serif;
}

/* ========================================================================== Author's custom styles ========================================================================== */

.header-strip {
    background: #b71a0e;
    padding: 10px 0;
    border-top:5px solid #000;
}

.con {
    padding: 5px;
}

.con a {
    text-decoration: none;
    color: inherit;
}

.con i {
    color: #fff;
    margin-right: 5px;
}

.con span {
    font-size: 13px;
    font-weight: 600;
    color: #fff;
}

.con img {
    max-width: 18px;
    margin-left: 5px;
    margin-right: 5px;
    position: relative;
}

.con span.black {
    margin-right: 5px;
    color: #6d6d6d;
}

.header {
    padding: 10px 0;
    background-color: #fff;
}

.social-frame {
    margin: 2px auto;
    text-align: right;
}

.social-frame span {
    color: #fff;
    font-weight: 600;
}

.social {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    display: inline-block;
}

.social li {
    display: inline-block;
}

.social li a.icon-fb {
    background: #3b5999;
}

.social li a.icon-twitter {
    background: #55acee;
}

.social li a.icon-youtube {
    background: #f44336;
}

.social li a.icon-google {
    background: #dd4b39;
}

.social li a.icon-instagram {
    background: #f94877;
}

.social li a {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    padding-top: 2px;
    margin-left: 2px;
    color: #fff;
    position: relative;
    top: 0;
}
.heading{
    font-weight: bold;
color: #495676;
text-transform: uppercase;
}
.heading small{
    text-align: right;
    display: block;
    color: #f44336;
    font-size: 20px;
    padding: 5px 22px;
}
.menubar {
    background: #b71a0e;
    position: relative;
    width: 100%;
    z-index: 99;
    left: 0;
}

.navbar {
    border: 0;
    margin: 0;
    min-height: 0;
    padding: 0;
    margin: 0 auto;
    max-width: 1170px;
}

.navbar-collapse {
    padding-left: 0;
    padding-right: 0;
}

.navbar-nav>li>a {
    font-size: 13px;
    color: #fff;
    font-weight: 600;
    padding: 15px 11px;
    text-transform: uppercase;
}

.navbar-nav>li:last-child>a {
    border-right: 0;
}

.nav>li>a:focus,
.nav>li>a:hover,
.nav .open>a,
.nav .open>a:focus,
.nav .open>a:hover {
    background-color: #495677;
}

.dropdown-menu {
    background: #F44336;
    box-shadow: none;
    border-radius: 0;
    border: 0;
    padding: 0;
}

.dropdown-menu>li>a {
    padding: 10px 20px;
    color: #fff;
}

.dropdown-menu>li>a:hover {
    background-color: #F44336;
    color: #fff;
}

.enquiry a {
    display: block;
    text-decoration: none;
    text-align: center;
    border: 1px solid #495677;
    padding: 10px 5px;
    border-radius: 5px;
    max-width: 200px;
    margin: 10px auto 0;
}

.enquiry a i {
    height: 50px;
    width: 50px;
    background-color: #495677;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    padding-top: 18px;
    transition: .3s all;
    border: 1px solid #495677;
}

.enquiry a:hover i {
    color: #495677;
    background-color: #fff;
}

.enquiry a h4 {
    display: block;
    font-size: 14px;
    font-weight: bold;
    margin: 5px auto;
}

.banners {
    position: relative;
    overflow: hidden;
}

.banners .owl-dots {
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
}

.banners .owl-dot {
    height: 12px;
    width: 12px;
    border: 2px solid #fff;
    border-radius: 50%;
    display: inline-block;
    margin-right: 8px;
}

.banners .owl-dot.active {
    background-color: #01a2a6;
}

.banners .owl-carousel .owl-item img {
    max-width: none;
}

.banners .overlay {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .01);
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    text-align: center;
    cursor: all-scroll;
}

.banners .slide-text {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
}

.banners .slide-text h2 {
    color: #ffffff;
    font-weight: 300;
    font-family: Poppins;
    font-size: 30.975px;
    line-height: 44.25px;
    max-width: 500px;
    margin: 0 auto 20px;
}

.banners .slide-text p {
    width: 50%;
    color: #ffffff;
    margin: 0 auto;
    font-family: Poppins;
    text-align: center;
    font-size: 16px;
}
.banners .slide-text .btn-primary {
    background-color: transparent;
    border: 1px solid #ffffff;
    border-radius: 0;
    padding: 10px 30px;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    text-transform: capitalize;
    color: #ffffff;
    margin-top:30px;
}.banners .slide-text .btn-primary:hover{
    background-color: #dd4b39;
}


.ban-navs {
    width: 100%;
    top: 50%;
    height: 50px;
    transform: translateY(-50%);
    position: absolute;
    z-index: 999;
}

.ban-navs .b-left:before {
    background: #ffffff;
    color: #222222;
    display: block;
    background: url('../images/skin.png') no-repeat -5px -2px;
    width: 26px;
    height: 46px;
    content: "";
    opacity: .9;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.ban-navs .b-right:before {
    background: #ffffff;
    color: #222222;
    display: block;
    content: "";
    opacity: .9;
    background: url('../images/skin.png') no-repeat -159px -2px;
    width: 26px;
    height: 46px;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.ban-navs .b-left {
    height: 50px;
    width: 40px;
    left: 10px;
    position: absolute;
    top: 0;
    cursor: pointer;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.ban-navs .b-right {
    height: 50px;
    width: 40px;
    right: 10px;
    position: absolute;
    top: 0;
    cursor: pointer;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.ban-navs .b-left:hover:before,
.ban-navs .b-right:hover:before {
    opacity: 1;
}

.banners:hover .b-left {
    left: 10px;
}

.banners:hover .b-right {
    right: 10px;
}

.banners .owl-item.active .slide-text h2 {
    -webkit-animation: 1s .2s fadeInUp both;
    animation: 1s .2s fadeInUp both;
}

.banners .owl-item.active .slide-text p {
    -webkit-animation: 1s .4s fadeInUp both;
    animation: 1s .4s fadeInUp both;
}

.banners .owl-item.active .slide-text .btn-custom {
    -webkit-animation: 1s .6s fadeInUp both;
    animation: 1s .6s fadeInUp both;
}
.banners .owl-item.active .slide-text .btn-primary {
    -webkit-animation: 1s .6s fadeInUp both;
    animation: 1s .6s fadeInUp both;
}

.news_panel {
    height: 40px;
    background-color: #e3e3e3;
    margin: 10px auto;
    position: relative;
    padding-left: 120px;
    padding-top: 4px;
}

.news_panel:before {
    content: "NEWS UPDATE";
    background-color: #F44336;
    position: absolute;
    left: 0;
    height: 100%;
    top: 0;
    width: 120px;
    COLOR: WHITE;
    TEXT-ALIGN: CENTER;
    PADDING-TOP: 5PX;
    FONT-SIZE: 1.8EM;
    FONT-WEIGHT: BOLD;
}

.news_panel a {
    font-size: 1.5em;
    color: black;
    border-right: 2px solid #F44336;
    margin-right: 8px;
    padding-right: 8px;
    text-decoration: none;
}

.features {
    padding: 50px 0;
}

.page-title {
    text-align: center;
    font-weight: bold;
    font-size: 28px;
    color: #f44336;
    position: relative;
    padding-bottom: 15px;
    margin-bottom: 20px;
}

.page-title:before {
    content: "";
    height: 5px;
    width: 50px;
    background-color: #F44336;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    position: absolute;
}
.page-content{
    margin:10px auto;
}
.featureBox {
    text-align: center;
    margin: 20px auto 0;
}

.featureBox .service-icon {
    display: inline-block;
    width: 100px;
    height: 150px;
    line-height: 145px;
    border-radius: 5px;
    background: #f16623;
    border: 5px solid #F44336;
    border-left: none;
    border-right: none;
    font-size: 45px;
    color: #fff;
    margin-bottom: 80px;
    position: relative;
    transition: all 0.3s ease 0s;
    padding-top:40px;
}

.featureBox .service-icon:before,
.featureBox .service-icon:after {
    content: "";
    width: 107px;
    height: 107px;
    border-radius: 5px;
    background: #f16623;
    border: 7px solid #F44336;
    border-top: none;
    border-right: none;
    position: absolute;
    top: 50%;
    left: -52px;
    transform: scaleX(0.5) translateY(-50%) rotate(45deg);
}

.featureBox .service-icon:after {
    border: 7px solid #F44336;
    border-bottom: none;
    border-left: none;
    left: auto;
    right: -52px;
}

.featureBox .service-icon i {
    z-index: 1;
    position: relative;
}

.featureBox .title {
    font-size: 18px;
    font-weight: bold;
    color: #000;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 0;
    position: relative;
    transition: all 0.3s ease 0s;
}

.featureBox:hover .title {
    color: #f16623;
}

.featureBox .title:before,
.featureBox .title:after {
    content: "";
    width: 20px;
    height: 20px;
    margin: 0 auto;
    background: linear-gradient(to right top, #f16623 48%, transparent 50%);
    position: absolute;
    top: -32px;
    left: 0;
    right: 0;
    z-index: 1;
    transform: rotate(-45deg);
}

.featureBox .title:after {
    width: 2px;
    height: 0;
    border: 3px dotted #929292;
    opacity: 0;
    top: -85px;
    z-index: 0;
    transform: rotate(0);
    transition: all 0.5s ease 0s;
}

.featureBox:hover .title:after {
    height: 70px;
    opacity: 1;
}

.featureBox .description {
    font-size: 15px;
    color: #6f6f6f;
    letter-spacing: 1px;
    margin-top: 10px;
}

.featureBox.blue .service-icon,
.featureBox.blue .service-icon:before,
.featureBox.blue .service-icon:after {
    background: #495677;
}

.featureBox.blue:hover .title {
    color: #495677;
}

.featureBox.blue .title:before {
    background: linear-gradient(to right top, #495677 48%, transparent 50%);
}

.navigations {
    padding: 50px 0;
    background-color: #e4e4e4;
}

.naviBox {
    padding-bottom: 25px;
    margin: 0 20px;
    background: #fff;
    border-radius: 20px;
    border-bottom: 5px solid #f44336;
    text-align: center;
    z-index: 1;
    position: relative;
    margin: 15px 20px 0;
    min-height: 505px;
}

.naviBox .naviBox-header {
    position: relative;
}

.naviBox .naviBox-header:before,
.naviBox .naviBox-header:after {
    content: "";
    border-top: 10px solid #48434a;
    border-left: 10px solid transparent;
    position: absolute;
    bottom: -10px;
    left: -10px;
}

.naviBox .naviBox-header:after {
    border-left: none;
    border-right: 10px solid transparent;
    left: auto;
    right: -10px;
}

.naviBox .title {
    padding: 25px 5px;
    margin: 0;
    background: #030004;
    background: linear-gradient(to top, #030004, #314047);
    border-radius: 20px 20px 0 0;
    font-size: 26px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    position: relative;
}

.naviBox .title:before,
.naviBox .title:after {
    content: "";
    border-left: 10px solid #e4e4e4;
    border-top: 37px solid transparent;
    border-bottom: 37px solid transparent;
    position: absolute;
    bottom: -114px;
    left: -30px;
}

.naviBox .title:after {
    border-left: none;
    border-right: 10px solid #e4e4e4;
    left: auto;
    right: -30px;
}

.naviBox .price-value {
    display: block;
    padding: 15px 5px;
    margin: 0 -10px;
    background: #F44336;
    font-size: 36px;
    font-weight: bold;
    color: #fff;
    position: relative;
}

.naviBox .price-value:before,
.naviBox .price-value:after {
    content: "";
    width: 30px;
    height: 90%;
    background: #f44336;
    position: absolute;
    top: 50%;
    left: -20px;
    z-index: -1;
}

.naviBox .price-value:after {
    left: auto;
    right: -20px;
}

.naviBox .navis-content {
    list-style: none;
    padding: 15px 0;
    margin: 0;
}

.naviBox .navis-content li {
    padding: 8px 0;
    font-size: 15px;
    font-weight: bold;
    color: #b2bbc0;
    line-height: 30px;
    border-bottom: 2px dashed #e3e3e3;
    position: relative;
}

.naviBox .navis-content li a {
    text-decoration: none;
    color: inherit;
}

.naviBox .navis-content li a:hover {
    opacity: .8;
}

.naviBox .navis-content li:last-child {
    border-bottom: none;
}

.naviBox .naviBox-signup {
    display: inline-block;
    padding: 10px 30px;
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
    border: 2px solid #f44336;
    box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.08);
    perspective: 300px;
    z-index: 1;
    position: relative;
    transition: all 0.3s ease 0s;
}

.naviBox .naviBox-signup:hover {
    color: #f44336;
}

.naviBox .naviBox-signup:before {
    content: "";
    width: 100%;
    height: 100%;
    background: #f44336;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transform-origin: left center 0;
    transition: all 0.3s ease 0s;
}

.naviBox .naviBox-signup:hover:before {
    transform: rotateY(90deg);
}

.course-slider {
    position: relative;
}

.course {
    text-align: center;
    background: #F44336;
    padding: 50px 0;
    margin: 50px ;
    color: #fff;
    font-size: 30px;
    border-radius: 10px;
}

.course h4 {
    font-weight: bold;
    font-size: 18px;
}

.course-slider .owl-nav {
    top: 50%;
    left: 0;
    position: absolute;
    transform: translateY(-50%);
    width: 100%;
}

.course-slider .owl-nav .owl-next,
.course-slider .owl-nav .owl-prev {
    height: 30px;
    width: 30px;
    position: absolute;
    background-color: #f44336;
    color: #fff;
    text-align: center;
    padding-top: 5px;
    transition: .3s all;
}

.course-slider .owl-nav .owl-prev {
    left: 0;
}

.course-slider .owl-nav .owl-next {
    right: 0;
}

.course-slider .owl-nav .owl-next:hover,
.course-slider .owl-nav .owl-prev:hover {
    background-color: #3b5999;
}

.counter-section {
    padding: 50px 0;
}

.counter {
    padding: 20px 0;
    text-align: center;
    position: relative;
}

.counter .counter-content {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    background: #fff;
    padding: 30px 0;
    margin: 0 auto 30px;
    z-index: 1;
    position: relative;
    transition: all 0.3s ease 0s;
}

.counter .counter-content:before {
    content: "";
    width: 122%;
    height: 122%;
    border-radius: 50%;
    border: 20px solid #F44336;
    border-bottom: 20px solid transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.counter .counter-content:after {
    content: "";
    border-top: 16px solid #F44336;
    border-left: 16px solid transparent;
    border-right: 16px solid transparent;
    position: absolute;
    bottom: -14px;
    left: 50%;
    transform: translateX(-50%);
}

.counter .counter-icon {
    display: block;
    font-size: 50px;
    color: #F44336;
    line-height: 50px;
}

.counter .counter-value {
    font-size: 50px;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.7);
    line-height: 70px;
}

.counter .title {
    display: inline-block;
    padding: 5px 25px;
    background: #F44336;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    text-transform: capitalize;
    margin: 0;
}

.counter.red .counter-content:before {
    border-color: #F44336;
    border-bottom-color: transparent;
}

.counter.red .counter-content:after {
    border-top-color: #F44336;
}

.counter.red .counter-icon {
    color: #F44336;
}

.counter.red .title {
    background: #F44336;
}

.counter.blue .counter-content:before {
    border-color: #F44336;
    border-bottom-color: transparent;
}

.counter.blue .counter-content:after {
    border-top-color: #F44336;
}

.counter.blue .counter-icon {
    color: #F44336;
}

.counter.blue .title {
    background: #F44336;
}

.counter.purple .counter-content:before {
    border-color: #F44336;
    border-bottom-color: transparent;
}

.counter.purple .counter-content:after {
    border-top-color: #F44336;
}

.counter.purple .counter-icon {
    color: #F44336;
}

.counter.purple .title {
    background: #F44336;
}

.photos {
    padding: 50px 0;
    background-color: #f1f1f1;
}

.galbox {
    text-align: center;
    overflow: hidden;
    position: relative;
}

.galbox img {
    width: 100%;
    height: auto;
    transform: scale(1.6);
    transition: all 0.3s ease 0s;
}

.galbox:hover img {
    filter: grayscale(100%);
    transform: scale(1.2);
}

.galbox .galbox-content {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    transition: all 0.2s ease 0s;
}

.galbox:before,
.galbox:after,
.galbox .galbox-content:before,
.galbox .galbox-content:after {
    content: "";
    width: 100%;
    height: 25%;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.7), transparent, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.9));
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.3s ease 0s;
}

.galbox:before {
    transform: translateX(100%);
}

.galbox:after {
    height: 25.1%;
    top: 25%;
    transform: translateX(-100%);
    transition-delay: 0.05s;
}

.galbox .galbox-content:before {
    top: 50%;
    transform: translateX(100%);
    transition-delay: 0.1s;
}

.galbox .galbox-content:after {
    top: 75%;
    transform: translateX(-100%);
    transition-delay: 0.15s;
}

.galbox:hover:before,
.galbox:hover:after,
.galbox:hover .galbox-content:before,
.galbox:hover .galbox-content:after {
    transform: translateX(0);
}

.galbox .inner-content {
    padding: 7px 0;
    text-align: right;
    position: absolute;
    bottom: 10px;
    right: 20px;
    z-index: 2;
    transition: all 0.3s ease 0s;
}

.galbox .post {
    display: inline-block;
    padding: 0 5px;
    font-size: 16px;
    font-style: italic;
    color: #fff;
    opacity: 0;
    transform: translateY(50px);
    transition: all 0.4s ease 0s;
}

.galbox:hover .title,
.galbox:hover .post {
    opacity: 1;
    transform: translate(0, 0);
}

.galbox .icon {
    padding: 0;
    margin: 0;
    list-style: none;
    position: absolute;
    top: -200px;
    left: 10px;
    z-index: 2;
    transition: all 0.4s ease 0.2s;
}

.galbox:hover .icon {
    top: 15px;
}

.galbox .icon li a {
    display: block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background: #f44336;
    font-size: 20px;
    color: #fff;
    margin-bottom: 10px;
    position: relative;
    transition: all 0.3s ease 0s;
    padding:10px;
}

.galbox .icon li a:hover {
    text-decoration: none;
    border-radius: 30%;
    background: #fff;
    color: #f44336;
}

.gallery-slider .owl-nav .owl-prev,
.video-slider .owl-nav .owl-prev,
.gallery-slider .owl-nav .owl-next,
.video-slider .owl-nav .owl-next {
    background: #495677;
    color: #fff;
    display: block;
    top: 50%;
    transition: all 0.25s ease 0s;
    -o-transition: all 0.25s ease 0s;
    -moz-transition: all 0.25s ease 0s;
    -webkit-transition: all 0.25s ease 0s;
    z-index: 3;
    position: absolute;
    text-align: center;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    padding:10px;
}

.gallery-slider .owl-nav .owl-prev {
    left: 0;
    margin-left: 0;
    opacity: 1;
}

.gallery-slider .owl-nav .owl-next {
    right: 0;
    margin-right: 0;
    opacity: 1;
}

.gallery-slider .owl-nav .owl-prev:hover,
.gallery-slider .owl-nav .owl-next:hover {
    background-color: #3b5999;
}

#footer-area {
    background-color: #F44336;
    color: #fff;
    padding: 40px 0 20px;
}

.footer-about {
    padding-right: 55px;
}

.single-widget.footer-about img {
    width: 80%;
}

.widget-body,
.widget-body a {
    color: #ebebeb;
}

.widget-body ul {
    list-style: none;
    padding: 0;
}

.widget-body img {
    margin-bottom: 25px;
}

.widget-title h4 {
    color: #ffffff;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 0.7px;
    padding-bottom: 15px;
    position: relative;
    text-transform: uppercase;
}

.widget-title h4::after {
    background-color: #ffffff;
    border-radius: 5px;
    bottom: 0;
    content: "";
    height: 3px;
    left: 0;
    position: absolute;
    width: 55px;
}

.widget-title {
    margin-bottom: 30px;
}

.footer-btn {
    border: 2px solid #ffffff;
    border-radius: 3px;
    color: #ffffff !important;
    font-size: 12px;
    font-weight: 600 !important;
    letter-spacing: 0.6px;
    margin-top: 20px;
    padding: 10px 50px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.footer-btn:hover {
    background-color: #ffffff;
    color: #000 !important;
}

.widget-body ul li a {
    letter-spacing: 0.5px;
    margin-bottom: 10px;
    text-transform: capitalize;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.widget-body a {
    display: inline-block;
    margin-bottom: 20px;
}

.widget-body a span {
    color: #ffffff;
    font-weight: 700;
}

.widget-body ul li:last-child a {
    margin-bottom: 0;
}

.widget-body ul li a:hover {
    color: #ffffff !important;
}

#footer-area ul.social-icon li {
    display: inline-block;
    font-size: 17px;
    margin-right: 15px;
}

#footer-area ul.social-icon {
    margin-top: 17px;
}

.con-btn {
    color: #ffffff !important;
    font-weight: 600 !important;
}

.email {
    margin: 15px 0;
}

.address {
    margin-bottom: 15px;
}

.footer-copyright {
    border-top: 1px solid #ffffff;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0.7px;
    margin-top: 60px;
    padding-top: 25px;
    position: relative;
}

.address-content a {
    display: block;
}

.footer-copyright a {
    color: #ffffff;
}

/*== Footer Area CSS End ==*/

/*== Scroll Top CSS ==*/

.footer-copyright div#scroll-top {
    background-color: #181818;
    border: 1px solid #ffffff;
    border-radius: 3px;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    left: 50%;
    padding: 8px 25px;
    position: absolute;
    text-transform: uppercase;
    top: -20px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.footer-copyright div#scroll-top:hover {
    background-color: #ffffff;
    color: #181818;
}

/*== Scroll Top CSS ==*/

.powerby-content {
    text-align: right;
}

@media(min-width:768px) {
    .affix {
        padding: 0px 0;
        animation-name: slideInDown;
        animation-duration: .5s;
        animation-iteration-count: 1;
        position: fixed;
        top: 0;
        bottom: unset;
        z-index: 999;
        width: 100%;
    }
    .dropdown-menu {
        display: block;
        visibility: hidden;
        opacity: 0;
        background: #495677;
        box-shadow: none;
        border-radius: 0;
        border: 0;
        padding: 0;
        transition: .3s all;
        transform: translateY(20px);
    }
    li.dropdown:hover .dropdown-menu {
        display: block;
        visibility: visible;
        opacity: 1;
        transform: translateY(0);
    }
    .dropdown-menu>li>a {
        padding: 10px 20px;
        color: #fff;
    }
    .dropdown-menu>li>a:hover {
        background-color: #F44336;
        color: #fff;
    }
}

@media(max-width:991px) {
    .header-strip {
        text-align: center;
    }
    .menubar .container {
        max-width: 100%;
        width: 100%;
    }
    .navbar-nav>li>a {
        padding: 15px 15px;
        font-size: 12px;
    }
    .powerby-content,
    .copyright-content {
        text-align: center;
    }
}

@media (max-width:767px) {
    .featureBox {
        border-bottom: 1px solid #ccc;
    }
    .social-frame {
        text-align: center;
    }
    .menuframe.affix {
        position: relative;
    }
    .navbar-toggle {
        border: 1px solid #fff;
    }
    .navbar-toggle .icon-bar {
        background-color: #fff;
    }
    .navbar-nav>li>a {
        padding: 20px;
    }
    .navbar-nav {
        margin: 0;
    }
    .logo {
        margin: 0 auto;
    }
  
    .header .social-frame {
        text-align: center;
    }
    .banners .slide-text h2 {
        font-size: 25px;
    }
    .banners .slide-text p {
        font-size: 14px;
    }
    .banners .owl-dots {
        display: none;
    }.heading,
    .heading small{
        text-align: center;
       
    }
    .read-more{
        margin:5px auto;
    }
}

@media(max-width:500px) {
    .banners .slide-text {
        display: none;
    }.heading{
        font-size: 22px;
    }.heading small{
        font-size: 18px;
    }
}

.messge-pop {
    position: fixed;
    height: 30px;
    bottom: 0;
    right: 5px;
    color: #ffffff;
    padding-left: 35px;
    width: 190px;
    border-radius: 5px;
    overflow: hidden;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    z-index: 99999;
    cursor: pointer;
}

.messge-pop i {
    height: 30px;
    width: 35px;
    position: absolute;
    left: 0;
    top: 0;
    text-align: center;
    color: #ffffff;
    padding: 8px 0 0 0;
}

.messge-pop span {
    padding: 5px 0 0 10px;
    font-weight: bold;
    font-size: 15px;
    display: block;
}

.message-box {
    position: fixed;
    bottom: 0;
    display: none;
    right: 5px;
    max-width: 290px;
    width: 100%;
    height: 400px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 3px 2px;
    background-color: #ffffff;
    border-radius: 5px;
    overflow: hidden;
    border-bottom-left-radius: 0;
    z-index: 99999999;
    border-bottom-right-radius: 0;
    padding: 40px 20px 5px;
}

.m-title {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    z-index: 10;
    font-size: 13px;
    font-weight: bold;
    height: 24px;
    padding: 3px 0;
    color: #ffffff;
    text-align: center;
}

.m-title i {
    display: block;
    position: absolute;
    right: 5px;
    font-size: 15px;
    top: 5px;
    cursor: pointer;
}

.message-box p {
    text-align: justify;
    margin-bottom: 5px;
}

.message-box .btn-default {
    color: #fff;
}

.affix-bottom {
    top: 0 !important;
}

.messge-pop i {
    background-color: #cc2518;
}

.messge-pop,
.m-title,
.message-box .btn-default {
    background-color: #ec2e20;
}

.page-section{
    padding: 50px 0;
}
.page-content{
    text-align:justify;
}a.read-more,.read-more{
    display: block;
    text-align: center;
    max-width: 150px;
    border: 1px solid #f44336;
    padding: 10px 15px;
    color: #f44336;
    font-size: 14px;
    text-transform: uppercase;
    transition: .3s all ;
    text-decoration:none;

}
a.read-more:hover,.read-more:hover{
    background-color: #f44336;
    color:#fff;
}
.video-play-thumb{
	min-height:247px;
	position:relative;
	background-repeat:no-repeat;
	background-position:center;
	background-size:cover;
}
.video-play{
    z-index:3;
	width:60px;
	height:60px;
	display:block;
	position:absolute;
	left:0;
	top:0;
	right:0;
	bottom:0;
	margin:auto;
}
.video-play-thumb i.fa.fa-play {
    color: white;
    background: #ef5f5f;
    padding: 10px;
    font-size: 36px;
    width: 70px;
    height: 70px;
    text-align: center;
    border-radius: 50%;
    line-height: 51px;
    padding-left: 15px;
    margin-left: -3px;
    margin-top: -11px;
}
.iq-waves {
	position: absolute;
	width: 384px;
	width: 24rem;
	height: 384px;
	height: 24rem;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	    transform: translate(-50%, -50%);
	z-index: 2;
}
.iq-waves .waves {
	position: absolute;
	width: 384px;
	width: 24rem;
	height: 384px;
	height: 24rem;
	background: rgba(255, 104, 0, 0.10);
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	border-radius: 320px;
	background-clip: padding-box;
	-webkit-animation: waves 3s ease-in-out infinite;
	animation: waves 3s ease-in-out infinite;
}  .section-overlay{
    position: relative;
    z-index: 1;
}

    .section-overlay:before {
        content: "";
        position: absolute;
        background-color: rgba(0, 0, 0, 0.57);
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
    }

.iq-waves .wave-1 {
	-webkit-animation-delay: 0s;
	animation-delay: 0s;
}
.iq-waves .wave-2 {
	-webkit-animation-delay: 1s;
	animation-delay: 1s;
}
.iq-waves .wave-3 {
	-webkit-animation-delay: 2s;
	animation-delay: 2s;
}
@-webkit-keyframes waves {
0% { -webkit-transform: scale(0.2, 0.2); transform: scale(0.2, 0.2); opacity: 0; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; }
50% { opacity: 0.9; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)"; }
100% { -webkit-transform: scale(0.9, 0.9); transform: scale(0.9, 0.9); opacity: 0; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; }
}
@keyframes waves {
0% { -webkit-transform: scale(0.2, 0.2); transform: scale(0.2, 0.2); opacity: 0; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; }
50% { opacity: 0.9; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)"; }
100% { -webkit-transform: scale(0.9, 0.9); transform: scale(0.9, 0.9); opacity: 0; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; }
}
 

.selection-section{
    padding: 50px 0;
    background-color: #f1f1f1;
}.our-team{
    text-align: center;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    transition: all 0.3s ease 0s;
}
.our-team .pic{
    background: #ef5f5f;
    transition: all 0.3s ease 0s;
}
.our-team:hover .pic{
    padding: 10px;
    border-radius: 10px;
    transform: scale(0.5) translateY(-30%);
}
.our-team .pic img{
    width: 100%;
    height: auto;
}
.our-team .team-content{
    width: 100%;
    padding: 7px 15px;
    background: #ef5f5f;
    position: absolute;
    bottom: -30%;
    right: 0;
    opacity: 0;
    transition: all 0.3s ease 0s;
}
.our-team:hover .team-content{
    opacity: 1;
    bottom: -10px;
}
.our-team .title{
    font-size: 18px;
    padding: 5px 0;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 0 0 5px 0;
}
.our-team .post{
    display: block;
    font-size: 15px;
    padding: 0 0 5px;
    font-weight: 600;
    color: #fff;
    font-style: italic;
    text-transform: capitalize;
    margin: 0 0 5px 0;
}

.selection-slider  .owl-dots {
    position: relative;
    margin:10px auto 5px;
    bottom: 0px;
    width: 100%;
    text-align: center;
}

.selection-slider  .owl-dot {
    height: 12px;
    width: 12px;
    border: 2px solid #ef5f5f;
    border-radius: 50%;
    display: inline-block;
    margin-right: 8px;
}

.selection-slider .owl-dot.active {
    background-color: #ef5f5f;
}
.view-all{
    margin:5px auto;
}

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700');

.gallery-title
{
    font-size: 36px;
    color: #42B32F;
    text-align: center;
    font-weight: 500;
    margin-bottom: 70px;
}

    .gallery-title:after
    {
        content: "";
        position: absolute;
        width: 7.5%;
        left: 46.5%;
        height: 45px;
        border-bottom: 1px solid #5e5e5e;
    }

a.filter-button
{
    color: #999999;
    font: 400 13px/22px 'Montserrat', sans-serif;
    border-radius: 5px;
    text-align: center;
    color: inherit;
    margin-bottom: 30px;
    text-decoration: none;
    padding: 0 15px;
}

.gallery_product
{
    position: relative;
    overflow: hidden;
}


.port-image
{
    width: 100%;
}



.gal_title
{
    color: #202020;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 3em;
    position: relative;
    padding-bottom: 20px;
}

    .gal_title:after
    {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        height: 2px;
        width: 40px;
        background-color: #dfdfdf;
    }

ul.gal_sort
{
    list-style: none;
    margin: 35px auto 5px;
    padding: 0;
}

    ul.gal_sort li
    {
        display: inline-block;
        color: black;
    }

        ul.gal_sort li.active a
        {
            font-weight: 700;
            color: #202020;
        }

.gallery_product
{
    margin-bottom: 30px;
    position: relative;
}

.gal_img img
{
   display: block;
    width: auto;
    height: auto;
    min-width: 100%;
    max-width: 100%;
}

.gal_img
{
    position: relative;
    width: 100%;
    z-index:2;
    top:0;transition:.3s  all ease-in;
}

.gallery_product:hover .gal_img
{

   top: -70px;
    
}

.gallery_product .details
{
    height: 70px;
    bottom: 0;
    position: relative;
    background-color: #282727;
    position: absolute;
    width: 100%;
    padding: 10px 0 0 10px;
    color: white;
    z-index:1;
}
